# Домашнее задание «Библиотека Pandas»

## Задание 1

Скачайте с сайта https://grouplens.org/datasets/movielens/ датасет любого размера. Определите какому фильму было выставлено больше всего оценок 5.0.

In [2]:
import pandas as pd

In [2]:
# Task 1

import pandas as pd

ratings = pd.read_csv('ml-latest/ratings.csv')
movies = pd.read_csv('ml-latest/movies.csv')

# соединение таблиц ratings.csv и movies.csv
ratings_movies = ratings.merge(movies, on='movieId', how='left')

ratings_movies.sort_values(by=['rating', 'movieId', 'userId'], ascending=[False, True, False]).head(5)

,userId,movieId,rating,timestamp,title,genres
27752688,283217,1,5.0,831280017,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
27751761,283199,1,5.0,1455716281,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
27750035,283195,1,5.0,1021952716,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
27748693,283183,1,5.0,1509582432,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
27748541,283176,1,5.0,1436016807,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy

In [6]:
# фильтр для строк с оценкой 5.0
rating_max = ratings_movies[ratings_movies['rating'] == 5.0]

# количество оценок для кадого movieId, вывод в виде списка, 0 элемент списка = максимальному значению
rating_max_number = rating_max['movieId'].value_counts().tolist()[0]

# количество оценок для кадого title, вывод в виде списка индексов index = title, 0 элемент списка = названию фильма
title_rating_max_number = rating_max['title'].value_counts().index.tolist()[0]

print('Результат:')
print(f'больше всего оценок 5.0 - {rating_max_number} у фильма "{title_rating_max_number}".')

Результат:
больше всего оценок 5.0 - 48762 у фильма "Shawshank Redemption, The (1994)".

## Задание 2
По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.

In [4]:
# Task 2

power = pd.read_csv('power.csv')
power.head()

   country  year  quantity  category
0  Austria  1996       5.0         1
1  Austria  1995      17.0         1
2  Belgium  2014       0.0         1
3  Belgium  2013       0.0         1
4  Belgium  2012      35.0         1

In [5]:
power.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1189482 entries, 0 to 1189481
Data columns (total 4 columns):
 #   Column    Non-Null Count    Dtype
---  ------    --------------    -----
 0   country   1189482 non-null  object
 1   year      1189482 non-null  int64
 2   quantity  1189482 non-null  float64
 3   category  1189482 non-null  int64
dtypes: float64(1), int64(2), object(1)
memory usage: 36.3+ MB

In [9]:
# фильтр по странам 
baltic = power[((power['country'] == 'Latvia') | (power['country'] == 'Lithuania') | (power['country'] == 'Estonia'))\
               & ((power['category'] == 4) | (power['category'] == 12) | (power['category'] == 21))]

# фильтр по категориям 
baltic_category = baltic[(baltic['category'] == 4) | (baltic['category'] == 12) | (baltic['category'] == 21)]

# фильтр по годам 
baltic_category_year =  baltic_category[((baltic_category['year'] >= 2005) & (baltic_category['year'] <= 2010))]

# фильтр для исключения отрицатеельных значений
all_quantity = baltic_category_year[(baltic_category_year['quantity'] > 0)]

# сумма списка значений столбца quantity
sum_quantity = sum(all_quantity['quantity'].tolist())

print('Результат: суммарное потребление стран Прибалтики', sum_quantity)

Результат: суммарное потребление стран Прибалтики 240580.0

## Задание 3
Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe.
Примеры страниц (необязательно брать именно эти):
https://fortrader.org/quotes
https://www.finanz.ru/valyuty/v-realnom-vremeni

In [3]:
# Task 3

page_url = 'https://www.finanz.ru/valyuty/usd-rub'
df = pd.read_html(page_url, attrs={'class': 'news_table'}, encoding='utf-8')
df[:10]

[       Дата  Закрытие  Открытие  Максимум  Минимум
 0  07.02.21    746995    746210    746995   746210
 1  05.02.21    746100    755273    756988   745205
 2  04.02.21    755262    759129    760725   753060
 3  03.02.21    759135    762970    763436   756553
 4  02.02.21    762965    761354    763505   753105
 5  01.02.21    761355    758605    762225   753495
 6  31.01.21    758565    757245    759495   757235
 7  30.01.21    756895    759550    759550   756895
 8  29.01.21    758190    761798    764058   752400,
        Имя  Unnamed: 1     %     курс                 Дата
 0  EUR/RUB         NaN -3492   895866  08.02.2021 17:05:00
 1  USD/RUB         NaN -3581    74432  08.02.2021 17:05:00
 2  CHF/RUB         NaN -5607    82615  08.02.2021 17:05:00
 3  JPY/RUB         NaN -4786     7053  08.02.2021 17:05:00
 4  GBP/RUB         NaN -6585  1018723  08.02.2021 17:05:00
 5  NOK/RUB         NaN -4332    87102  08.02.2021 17:05:00
 6  AUD/RUB         NaN -3972   570759  08.02.2021 17:05:00
 7  NZD/RUB         NaN -4111   535054  08.02.2021 17:05:00
 8  TRY/RUB         NaN -8786   104876  08.02.2021 17:05:00]