# Домашнее задание к лекции "Базовые понятия статистики"¶

## Обязательная часть
Будем осуществлять работу с непростым набором данных о состоянии здоровья лошадей, испытывающих кишечные колики.

### Задание 1. Базовое изучение
Изучить представленный набор данных на основе описания его столбцов и выбрать 8 столбцов для дальнейшего изучения (среди них должны быть как числовые, так и категориальные). Провести расчет базовых метрик для них, кратко описать результаты.

### Задание 2. Работа с выбросами
В выбранных числовых столбцах найти выбросы, выдвинуть гипотезы об их причинах и проинтерпретировать результаты. Принять и обосновать решение о дальнейшей работе с ними.

### Задание 3. Работа с пропусками
Рассчитать количество пропусков для всех выбранных столбцов. Принять и обосновать решение о методе работы с пропусками по каждому столбцу, сформировать датафрейм, в котором пропуски будут отсутствовать.

## Дополнительная часть (необязательная)
Выполнить задания 1-3 для всего набора данных.

In [2]:
import pandas as pd

In [3]:
# названия столбцов
names = 'surgery,age,hospital number,rectal temperature,pulse,temperature of extremities,peripheral pulse,mucous membranes,capillary refill time,pain,peristalsis,abdominal distension,nasogastric tube,nasogastric reflux,nasogastric reflux PH,rectal examination,abdomen,packed cell volume,total protein,abdominocentesis appearance,abdomcentesis total protein,outcome,surgical lesion,site of lesion,type,subtype,specific code,cp_data'
names = names.split(',')
names = [x.replace(' ', '_') for x in names]

In [4]:
horse_data = pd.read_csv('horse_data.csv', names=names, na_values = '?')
horse_data

,surgery,age,hospital_number,rectal_temperature,pulse,temperature_of_extremities,peripheral_pulse,mucous_membranes,capillary_refill_time,pain,...,total_protein,abdominocentesis_appearance,abdomcentesis_total_protein,outcome,surgical_lesion,site_of_lesion,type,subtype,specific_code,cp_data
0,2.0,1,530101,38.5,66.0,28.0,3.0,3.0,NaN,2.0,...,45.0,8.4,NaN,NaN,2.0,2,11300,0,0,2
1,1.0,1,534817,39.2,88.0,20.0,NaN,NaN,4.0,1.0,...,50.0,85.0,2.0,2.0,3.0,2,2208,0,0,2
2,2.0,1,530334,38.3,40.0,24.0,1.0,1.0,3.0,1.0,...,33.0,6.7,NaN,NaN,1.0,2,0,0,0,1
3,1.0,9,5290409,39.1,164.0,84.0,4.0,1.0,6.0,2.0,...,48.0,7.2,3.0,5.3,2.0,1,2208,0,0,1
4,2.0,1,530255,37.3,104.0,35.0,NaN,NaN,6.0,2.0,...,74.0,7.4,NaN,NaN,2.0,2,4300,0,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,1.0,1,533886,NaN,120.0,70.0,4.0,NaN,4.0,2.0,...,55.0,65.0,NaN,NaN,3.0,2,3205,0,0,2
296,2.0,1,527702,37.2,72.0,24.0,3.0,2.0,4.0,2.0,...,44.0,NaN,3.0,3.3,3.0,1,2208,0,0,1
297,1.0,1,529386,37.5,72.0,30.0,4.0,3.0,4.0,1.0,...,60.0,6.8,NaN,NaN,2.0,1,3205,0,0,2
298,1.0,1,530612,36.5,100.0,24.0,3.0,3.0,3.0,1.0,...,50.0,6.0,3.0,3.4,1.0,1,2208,0,0,1
299,1.0,1,534618,37.2,40.0,20.0,NaN,NaN,NaN,NaN,...,36.0,62.0,1.0,1.0,3.0,2,6112,0,0,2

In [5]:
horse_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 28 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   surgery                      299 non-null    float64
 1   age                          300 non-null    int64
 2   hospital_number              300 non-null    int64
 3   rectal_temperature           240 non-null    float64
 4   pulse                        276 non-null    float64
 5   temperature_of_extremities   242 non-null    float64
 6   peripheral_pulse             244 non-null    float64
 7   mucous_membranes             231 non-null    float64
 8   capillary_refill_time        253 non-null    float64
 9   pain                         268 non-null    float64
 10  peristalsis                  245 non-null    float64
 11  abdominal_distension         256 non-null    float64
 12  nasogastric_tube             244 non-null    float64
 13  nasogastric_reflux           196 non-null    float64
 14  nasogastric_reflux_PH        194 non-null    float64
 15  rectal_examination           53 non-null     float64
 16  abdomen                      198 non-null    float64
 17  packed_cell_volume           182 non-null    float64
 18  total_protein                271 non-null    float64
 19  abdominocentesis_appearance  267 non-null    float64
 20  abdomcentesis_total_protein  135 non-null    float64
 21  outcome                      102 non-null    float64
 22  surgical_lesion              299 non-null    float64
 23  site_of_lesion               300 non-null    int64
 24  type                         300 non-null    int64
 25  subtype                      300 non-null    int64
 26  specific_code                300 non-null    int64
 27  cp_data                      300 non-null    int64
dtypes: float64(21), int64(7)
memory usage: 65.8 KB

In [6]:
horse_data.describe()

,surgery,age,hospital_number,rectal_temperature,pulse,temperature_of_extremities,peripheral_pulse,mucous_membranes,capillary_refill_time,pain,...,total_protein,abdominocentesis_appearance,abdomcentesis_total_protein,outcome,surgical_lesion,site_of_lesion,type,subtype,specific_code,cp_data
count,299.000000,300.000000,3.000000e+02,240.000000,276.000000,242.000000,244.000000,231.000000,253.000000,268.000000,...,271.000000,267.000000,135.000000,102.000000,299.000000,300.000000,300.000000,300.000000,300.000000,300.000000
mean,1.397993,1.640000,1.085889e+06,38.167917,71.913043,30.417355,2.348361,2.017316,2.853755,1.305970,...,46.295203,24.456929,2.037037,3.019608,1.551839,1.363333,3657.880000,90.226667,7.363333,1.670000
std,0.490305,2.173972,1.529801e+06,0.732289,28.630557,17.642231,1.045054,1.042428,1.620294,0.477629,...,10.419335,27.475009,0.804905,1.968567,0.737187,0.481763,5399.513513,649.569234,127.536674,0.470998
min,1.000000,1.000000,5.184760e+05,35.400000,30.000000,8.000000,1.000000,1.000000,1.000000,1.000000,...,23.000000,3.300000,1.000000,0.100000,1.000000,1.000000,0.000000,0.000000,0.000000,1.000000
25%,1.000000,1.000000,5.289040e+05,37.800000,48.000000,18.500000,1.000000,1.000000,1.000000,1.000000,...,38.000000,6.500000,1.000000,2.000000,1.000000,1.000000,2111.750000,0.000000,0.000000,1.000000
50%,1.000000,1.000000,5.303055e+05,38.200000,64.000000,24.500000,3.000000,2.000000,3.000000,1.000000,...,45.000000,7.500000,2.000000,2.250000,1.000000,1.000000,2673.500000,0.000000,0.000000,2.000000
75%,2.000000,1.000000,5.347275e+05,38.500000,88.000000,36.000000,3.000000,3.000000,4.000000,2.000000,...,52.000000,57.000000,3.000000,3.900000,2.000000,2.000000,3209.000000,0.000000,0.000000,2.000000
max,2.000000,9.000000,5.305629e+06,40.800000,184.000000,96.000000,4.000000,4.000000,6.000000,3.000000,...,75.000000,89.000000,3.000000,10.100000,3.000000,2.000000,41110.000000,7111.000000,2209.000000,2.000000

In [7]:
# % пропущенных данных по столбцам
for col in horse_data.columns:
    pct_missing = horse_data[col].isna().mean()
    print(f'{col} - {pct_missing: .1%}')

surgery -  0.3%
age -  0.0%
hospital_number -  0.0%
rectal_temperature -  20.0%
pulse -  8.0%
temperature_of_extremities -  19.3%
peripheral_pulse -  18.7%
mucous_membranes -  23.0%
capillary_refill_time -  15.7%
pain -  10.7%
peristalsis -  18.3%
abdominal_distension -  14.7%
nasogastric_tube -  18.7%
nasogastric_reflux -  34.7%
nasogastric_reflux_PH -  35.3%
rectal_examination -  82.3%
abdomen -  34.0%
packed_cell_volume -  39.3%
total_protein -  9.7%
abdominocentesis_appearance -  11.0%
abdomcentesis_total_protein -  55.0%
outcome -  66.0%
surgical_lesion -  0.3%
site_of_lesion -  0.0%
type -  0.0%
subtype -  0.0%
specific_code -  0.0%
cp_data -  0.0%

## столбцы для изучения

In [8]:
# столбцы для изучения
# 1. surgery 1 = Да, была операция
#         2 = Лечение прошло без хирургического вмешательства

# 2. Age       1 = взрослая лошадь
#           2 = Молодой (<6 месяцев)
    
# 3. abdomen   - возможные значения
#                1 = нормальный
#                2 = другое
#                3 = твердый кал в толстой кишке
#                4 = растянутый тонкий кишечник
#                5 = растянутый толстый кишечник
#            - 3 вероятно, препятствие, вызванное механическим воздействием
#                и обычно лечится с медицинской точки зрения
#            - 4 и 5 указывают на хирургическое поражение
        
# 4. rectal temperature
#           - линейный
#           - в градусах Цельсия.
#           - Повышенная температура может возникнуть из-за инфекции.
#           - возможно снижение температуры при позднем шоке
#           - нормальная температура 37,8
#           - этот параметр обычно меняется по мере развития проблемы.
        
# 5. pain      - возможные значения:
#                1 = тревога, без боли
#                2 = депрессия
#                3 = периодическая легкая боль
#                4 = периодическая сильная боль
#                5 = постоянная сильная боль
#           - НЕ следует рассматривать как упорядоченную или дискретную переменную!
#           - В целом, чем больнее, тем больше вероятность того, что потребуется
#             хирургия

# 6. mucous_membranes - субъективное измерение цвета
#                       - возможные значения:
#                            1 = нормальный розовый
#                            2 = ярко-розовый
#                            3 = бледно-розовый
#                            4 = бледно-синюшный
#                            5 = ярко-красный / инжектированный
#                            6 = темно-синюшный
#                       - 1 и 2, вероятно, указывают на нормальное или слегка повышенное
#                         обращение
#                       - 3 могут возникнуть при раннем шоке
#                       - 4 и 6 указывают на серьезное нарушение кровообращения
#                       - 5 больше указывает на сепсис

# 7. abdominal_distension - ВАЖНЫЙ параметр.
#                       - возможные значения
#                            1 = нет
#                            2 = легкий
#                            3 = умеренный
#                            4 = тяжелый
#                       - животное с вздутием живота может причинить боль и
#                         имеют пониженную перистальтику кишечника.
#                       - лошади с сильным вздутием живота, вероятно, потребуется
#                         Хирургия просто сними давление

# 8. total_protein    - линейный
#           - нормальные значения лежат в диапазоне 6-7,5 (г / дл)
#           - чем выше значение, тем сильнее обезвоживание

In [9]:

df = horse_data[['surgery', 'age', 'abdomen', 'rectal_temperature', 'pain', 'mucous_membranes', 'abdominal_distension', 'total_protein']]
df

,surgery,age,abdomen,rectal_temperature,pain,mucous_membranes,abdominal_distension,total_protein
0,2.0,1,3.0,38.5,2.0,3.0,4.0,45.0
1,1.0,1,4.0,39.2,1.0,NaN,4.0,50.0
2,2.0,1,1.0,38.3,1.0,1.0,3.0,33.0
3,1.0,9,3.0,39.1,2.0,1.0,4.0,48.0
4,2.0,1,NaN,37.3,2.0,NaN,NaN,74.0
...,...,...,...,...,...,...,...,...
295,1.0,1,NaN,NaN,2.0,NaN,4.0,55.0
296,2.0,1,4.0,37.2,2.0,2.0,3.0,44.0
297,1.0,1,3.0,37.5,1.0,3.0,4.0,60.0
298,1.0,1,4.0,36.5,1.0,3.0,3.0,50.0
299,1.0,1,4.0,37.2,NaN,NaN,NaN,36.0

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 8 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   surgery               299 non-null    float64
 1   age                   300 non-null    int64
 2   abdomen               198 non-null    float64
 3   rectal_temperature    240 non-null    float64
 4   pain                  268 non-null    float64
 5   mucous_membranes      231 non-null    float64
 6   abdominal_distension  256 non-null    float64
 7   total_protein         271 non-null    float64
dtypes: float64(7), int64(1)
memory usage: 18.9 KB

In [11]:
df.describe()

,surgery,age,abdomen,rectal_temperature,pain,mucous_membranes,abdominal_distension,total_protein
count,299.000000,300.000000,198.000000,240.000000,268.000000,231.000000,256.000000,271.000000
mean,1.397993,1.640000,2.757576,38.167917,1.305970,2.017316,2.917969,46.295203
std,0.490305,2.173972,1.251119,0.732289,0.477629,1.042428,0.976744,10.419335
min,1.000000,1.000000,1.000000,35.400000,1.000000,1.000000,1.000000,23.000000
25%,1.000000,1.000000,1.000000,37.800000,1.000000,1.000000,3.000000,38.000000
50%,1.000000,1.000000,3.000000,38.200000,1.000000,2.000000,3.000000,45.000000
75%,2.000000,1.000000,4.000000,38.500000,2.000000,3.000000,4.000000,52.000000
max,2.000000,9.000000,4.000000,40.800000,3.000000,4.000000,4.000000,75.000000

In [12]:
len(df[df['age'] > 2.0 ])

24

In [13]:
# age возможные значения
#     1 = взрослая лошадь
#     2 = Молодой (<6 месяцев)
# max значение выходит за пределы возможных
# 24 значения age равны 9. Предположительно, указаны ошибочно.
# Если при дальнейшем анализе параметр age будет важен, то эти строки целесообразно удалить.
# Остальные качественные и количественные значения не выходят за пределы возможных (учитывая отсутствие мед. знаний)

## Выбросы

Определение целесообразно только для количественных данных, столбцы rectal_temperature и total_protein

In [14]:
q1 = df['rectal_temperature'].quantile(0.25)
q3 = df['rectal_temperature'].quantile(0.75)
irq = q3 - q1
lower_bound = q1 - (1.5*irq)
upper_bound = q3 + (1.5*irq)

remuve_outliers = df[df['rectal_temperature'].between(lower_bound, upper_bound, inclusive=True)]
pd.concat([df, remuve_outliers]).drop_duplicates(keep=False)

,surgery,age,abdomen,rectal_temperature,pain,mucous_membranes,abdominal_distension,total_protein
5,2.0,1,3.0,NaN,1.0,1.0,3.0,NaN
7,1.0,1,3.0,NaN,1.0,NaN,4.0,44.0
8,2.0,1,3.0,NaN,1.0,4.0,4.0,38.0
16,1.0,9,4.0,NaN,2.0,3.0,4.0,53.0
20,1.0,1,4.0,39.9,2.0,1.0,4.0,46.0
...,...,...,...,...,...,...,...,...
274,1.0,1,NaN,NaN,NaN,3.0,4.0,NaN
281,2.0,1,4.0,40.0,1.0,3.0,3.0,66.0
293,1.0,1,NaN,NaN,1.0,3.0,3.0,43.0
295,1.0,1,NaN,NaN,2.0,NaN,4.0,55.0
298,1.0,1,4.0,36.5,1.0,3.0,3.0,50.0

#### Значения параметра rectal_temperature за пределами границ выброса являются возможными. Поэтому их удаление нецелесообразно.

In [15]:
q1 = df['total_protein'].quantile(0.25)
q3 = df['total_protein'].quantile(0.75)
irq = q3 - q1
lower_bound = q1 - (1.5*irq)
upper_bound = q3 + (1.5*irq)

remuve_outliers = df[df['total_protein'].between(lower_bound, upper_bound, inclusive=True)]
pd.concat([df, remuve_outliers]).drop_duplicates(keep=False)

,surgery,age,abdomen,rectal_temperature,pain,mucous_membranes,abdominal_distension,total_protein
4,2.0,1,NaN,37.3,2.0,NaN,NaN,74.0
5,2.0,1,3.0,NaN,1.0,1.0,3.0,NaN
12,1.0,1,4.0,37.2,1.0,1.0,3.0,NaN
17,2.0,1,NaN,37.5,NaN,NaN,NaN,NaN
25,2.0,1,NaN,37.8,1.0,NaN,NaN,NaN
39,1.0,9,NaN,39.2,NaN,NaN,NaN,NaN
51,1.0,1,4.0,37.4,2.0,NaN,3.0,NaN
72,1.0,1,NaN,37.7,NaN,NaN,NaN,NaN
101,1.0,1,4.0,NaN,2.0,3.0,4.0,NaN
113,1.0,1,NaN,36.8,NaN,NaN,NaN,NaN
117,2.0,1,4.0,39.5,2.0,3.0,4.0,NaN
130,1.0,1,NaN,37.8,NaN,NaN,NaN,NaN
137,1.0,1,4.0,38.0,1.0,1.0,2.0,NaN
144,1.0,1,4.0,37.1,1.0,3.0,4.0,75.0
151,1.0,1,4.0,39.3,2.0,3.0,4.0,75.0
158,2.0,1,NaN,38.0,1.0,1.0,3.0,NaN
167,2.0,1,NaN,NaN,1.0,1.0,3.0,NaN
169,1.0,1,NaN,NaN,2.0,NaN,NaN,NaN
174,2.0,1,NaN,NaN,NaN,4.0,NaN,NaN
177,1.0,1,NaN,NaN,1.0,NaN,NaN,NaN
216,2.0,1,NaN,NaN,NaN,NaN,NaN,NaN
218,1.0,1,NaN,38.1,1.0,2.0,2.0,NaN
220,1.0,1,NaN,39.2,2.0,4.0,4.0,NaN
230,1.0,1,NaN,38.5,1.0,3.0,3.0,NaN
243,1.0,1,1.0,38.4,2.0,NaN,3.0,NaN
248,1.0,1,3.0,38.0,1.0,3.0,3.0,NaN
274,1.0,1,NaN,NaN,NaN,3.0,4.0,NaN

#### Значения параметра total_protein за пределами границ выброса являются возможными. Поэтому их удаление нецелесообразно.

## Работа с пропусками

In [16]:
# % пропущенных данных по столбцам
for col in df.columns:
    pct_missing = df[col].isna().mean()
    print(f'{col} - {pct_missing: .1%}')

surgery -  0.3%
age -  0.0%
abdomen -  34.0%
rectal_temperature -  20.0%
pain -  10.7%
mucous_membranes -  23.0%
abdominal_distension -  14.7%
total_protein -  9.7%

In [17]:
# удаление пропусков
df.dropna().info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 128 entries, 0 to 298
Data columns (total 8 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   surgery               128 non-null    float64
 1   age                   128 non-null    int64
 2   abdomen               128 non-null    float64
 3   rectal_temperature    128 non-null    float64
 4   pain                  128 non-null    float64
 5   mucous_membranes      128 non-null    float64
 6   abdominal_distension  128 non-null    float64
 7   total_protein         128 non-null    float64
dtypes: float64(7), int64(1)
memory usage: 9.0 KB

При удалении пропусков остается 128 строк из 300 (42.6%). Целесообразность удаления пропусков в отдельных столбцах или во всем датафрейме зависит от условий задачи.

### Проанализируем значения с пропусками и возможность их замены на медиану или предыдущее значение.

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 8 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   surgery               299 non-null    float64
 1   age                   300 non-null    int64
 2   abdomen               198 non-null    float64
 3   rectal_temperature    240 non-null    float64
 4   pain                  268 non-null    float64
 5   mucous_membranes      231 non-null    float64
 6   abdominal_distension  256 non-null    float64
 7   total_protein         271 non-null    float64
dtypes: float64(7), int64(1)
memory usage: 18.9 KB

Показатели surgery, abdomen, pain, mucous_membranes, abdominal_distension относятся к качественных номинальным значениям.
Их нельзя заменить на среднее или медиану, или на кокой-либо другой. Целесообразно оставить NaN.
Показатели rectal_temperature и total_protein относятся к количественным, но заменять их нецелесообразно,
т.к. это может привести к искажению всего отчета.

Показатель age: возможные значения 1 = взрослая лошадь 2 = Молодой (<6 месяцев) max значение выходит за пределы возможных 24 значения age равны 9. Предположительно, указаны ошибочно. Если при дальнейшем анализе параметр age будет важен, то эти строки целесообразно удалить.

Целесообразно удалить строки, где пропущено 6 значений, т.к. в этом случае ценность строки теряется.

In [22]:
# удалить если в строке 6 пропусков
df.dropna(thresh=6).info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 260 entries, 0 to 298
Data columns (total 8 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   surgery               259 non-null    float64
 1   age                   260 non-null    int64
 2   abdomen               196 non-null    float64
 3   rectal_temperature    218 non-null    float64
 4   pain                  252 non-null    float64
 5   mucous_membranes      228 non-null    float64
 6   abdominal_distension  251 non-null    float64
 7   total_protein         246 non-null    float64
dtypes: float64(7), int64(1)
memory usage: 18.3 KB